In [60]:
from moexalgo import Ticker
import pandas as pd
import time
from datetime import date, datetime, timedelta

length = 0
# while True:
#     fields_df = pd.DataFrame(Ticker('SBER').candles(date='2023-12-08', till_date='2023-12-08', period='1m'))
#     if length < len(fields_df):
#         print(fields_df.loc[len(fields_df)-1,:])
#     time.sleep(60)
sdate = (date.today() - timedelta(minutes=10000)).strftime("%Y-%m-%d")
fields_df = pd.DataFrame(Ticker('CIAN').candles(date=sdate, till_date='2023-12-08', period='1m'))
    
datetime.now().hour
fields_df

,open,close,high,low,value,volume,begin,end
0,616.8,616.8,616.8,616.8,149265.6,242.0,2023-12-04 09:59:00,2023-12-04 09:59:59
1,617.0,612.6,619.4,612.6,307057.6,497.0,2023-12-04 10:00:00,2023-12-04 10:00:59
2,612.4,615.8,616.0,612.0,15934.8,26.0,2023-12-04 10:01:00,2023-12-04 10:01:59
3,612.4,599.6,612.4,591.0,2601473.0,4332.0,2023-12-04 10:02:00,2023-12-04 10:02:59
4,599.2,599.0,600.2,592.4,1176132.4,1978.0,2023-12-04 10:03:00,2023-12-04 10:03:59
...,...,...,...,...,...,...,...,...
2212,574.6,574.6,574.6,574.6,29879.2,52.0,2023-12-08 18:37:00,2023-12-08 18:37:59
2213,574.6,574.8,574.8,574.6,2873.2,5.0,2023-12-08 18:38:00,2023-12-08 18:38:59
2214,574.6,572.0,574.6,572.0,137814.4,240.0,2023-12-08 18:39:00,2023-12-08 18:39:59
2215,572.0,572.0,572.0,572.0,4004.0,7.0,2023-12-08 18:45:00,2023-12-08 18:45:59
2216,572.0,572.0,572.0,572.0,11440.0,20.0,2023-12-08 18:46:00,2023-12-08 18:46:59

In [44]:
import time
from datetime import date
from datetime import timedelta
today_date = date.today().strftime("%Y-%m-%d")
print(type(today_date))
(date.today() - timedelta(minutes=10000)).strftime("%Y-%m-%d")

<class 'str'>

'2023-12-02'

In [ ]:
# !pip3 install -r requirements.txt

In [3]:
import pandas as pd
# a = pd.read_csv('fields0.csv')
# a = a.drop(['INN', 'FIELD'], axis=1)
# a = a.dropna(axis=0)
# a.to_csv('fields.csv', index=False)
a = pd.read_csv('fields.csv')
a.head()
for i in range(0,0):
    print(i)

In [43]:
# c = a.set_index('TRADE_CODE')
# print(c)
b = a.groupby('BIGFIELD').groups
for k, v in b.items():
    print(list(a.loc[v,'TRADE_CODE']))

['CIAN', 'HHRU', 'OZON', 'POSI', 'VKCO', 'YNDX']
['ALRS', 'CHMF', 'ENPG', 'GMKN', 'MAGN', 'MTLR', 'MTLRP', 'NLMK', 'PLZL', 'POLY', 'RASP', 'RUAL', 'SELG', 'VSMO']
['BANEP', 'GAZP', 'LKOH', 'NVTK', 'RNFT', 'ROSN', 'SNGS', 'SNGSP', 'TATN', 'TATNP', 'TRNFP']
['ABIO', 'AGRO', 'APTK', 'AQUA', 'BELU', 'FIVE', 'FIXP', 'GEMC', 'LENT', 'MDMG', 'MGNT', 'MVID', 'OKEY', 'SVAV', 'WUSH']
['ETLN', 'LSRG', 'PIKK', 'SMLT']
['MGTSP', 'MTSS', 'RTKM', 'RTKMP', 'TTLK']
['BSPB', 'CBOM', 'MOEX', 'QIWI', 'RENI', 'SBER', 'SBERP', 'SFIN', 'SPBE', 'TCSG', 'VTBR']
['AKRN', 'KAZT', 'KZOS', 'KZOSP', 'NKNC', 'NKNCP', 'PHOR']
['DVEC', 'ELFV', 'FEES', 'HYDR', 'IRAO', 'LSNGP', 'MRKC', 'MRKP', 'MRKU', 'MRKV', 'MRKZ', 'MSNG', 'MSRS', 'OGKB', 'TGKA', 'TGKB', 'UPRO']
['AFLT', 'FESH', 'FLOT', 'GLTR', 'NKHP', 'NMTP']

ModuleNotFoundError: No module named 'streamlit'